{# Fichier templates/home.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Bienvenus{% endblock %}

{% block body %}


    <h1>Notre site est super chuette!!</h1>
    <p>
        lorem ipsum
    </p>


{% endblock %}
