{# Fichier templates/users.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Users{% endblock %}

{% block body %}


    <h1>Les Utilisateurs</h1>
    <ul>
        <li>Alobar Bogarde</li>
        <li>Jean-Baptiste Adamsberg</li>
        <li>Aureliano Buendia</li>

    </ul>

{% endblock %}
